<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/tp.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="navbar">
      <div class="logo">
        <img src="/memoria_logo.png" alt="" />
      </div>
      <div class="sidebarMobile">
        <p id="timelineByYouMobile" style="background: #efedff">Timeline by you</p>
        <p id="timelineAddedMobile">Timeline added</p>
      </div>
      <div class="iconsDesktop">
        <i class="fa-regular fa-bell"></i>
        <i class="fa-regular fa-question"></i>
        <div class="profileSection" id="profileSection">
          <img class="profile-image" src="<%= user.image %>" alt="profile" />
          <div class="logout" id="logout" style="display: none">
            <form action="/logoutUser?_method=DELETE" method="post">
              <button class="logout-btn" type="submit">Logout</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="sidebarDesktop">
        <p id="timelineByYou" style="background: #efedff">Timeline by you</p>
        <p id="timelineAdded">Timeline added</p>
        <!-- <div class="logout">
          <form action="/logoutUser?_method=DELETE" method="post">
            <button class="logout-btn" type="submit">Logout</button>
          </form>
        </div> -->
      </div>
      <div class="container">
        <div class="timelineByYou" id="timelineByYouId">
          <form action="/viewTimeline" method="post">
            <% for (let i=0; i < createdTimelines.length; i++) { %>
            <div class="timelines">
              <p class="timelineTitle"><%= createdTimelines[i].title %></p>
              <p p class="timelineDate">
                <%= createdTimelines[i].dateCreated.toLocaleDateString('en-US', { day: '2-digit' , month: 'long' , year:
                'numeric' }) %>
              </p>
              <div class="members">
                <img src="<%= createdTimelines[i].creator.image %>" alt="" class="creator-logo" />
                <% for (let j=0; j < createdTimelines[i].watchers.length; j++) { %>
                <img src="<%= createdTimelines[i].watchers[j].image %>" alt="" class="members-logo" />
                <% } %>
              </div>
              <button type="submit" name="delete" value="<%= createdTimelines[i].id %>" class="remove-btn">
                <i class="fa-solid fa-trash"></i>
              </button>
              <button type="submit" name="view" value="<%= createdTimelines[i].id %>" class="view-btn">
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
            <!-- <h3>by: <%= createdTimelines[i].creator.name %></h3> -->
            <% } %>
          </form>
        </div>
        <div class="timelineAdded" id="timelineAddedId" style="display: none">
          <form action="/watchTimeline" method="post">
            <% for (let i=0; i < wactchTimelines.length; i++) { %>
            <div class="timelines">
              <p class="timelineTitle"><%= wactchTimelines[i].title %></p>
              <p class="timelineDate">
                <%= wactchTimelines[i].dateCreated.toLocaleDateString('en-US', { day: '2-digit' , month: 'long' , year:
                'numeric' }) %>
              </p>

              <!-- <h3>by: <%= wactchTimelines[i].creator.name %></h3> -->
              <div class="members">
                <!-- <h3>members:</h3> -->
                <!-- <h3>Watchers:</h3> -->
                <img src="<%= wactchTimelines[i].creator.image %>" alt="" class="creator-logo" />
                <% for (let j=0; j < wactchTimelines[i].watchers.length; j++) { %>
                <img src="<%= wactchTimelines[i].watchers[j].image %>" alt="" class="members-logo" />
                <% } %>
              </div>

              <button class="remove-btn" type="submit" name="remove" value="<%= wactchTimelines[i].id %>">Exit</button>
              <button class="view-btn" type="submit" name="view" value="<%= wactchTimelines[i].id %>">
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
            <% } %>
          </form>
        </div>
      </div>
      <button id="createTimeline" class="createTimelineDesktop" type="submit">
        <i class="fa-solid fa-plus fa-xl"></i>
      </button>

      <!-- <div class="friends">
        <h1>My friends</h1>
        <% for (let i = 0; i < wactchTimelines.length; i++) { %>
        <div class="friends-list">
          <div class="friends-item">
            <img src="<%= wactchTimelines[i].creator.image %>" alt="" />
            <h3><%= wactchTimelines[i].creator.name %></h3>
            <% } %>
          </div>
        </div>
      </div> -->
      <!-- <h1>Hello <%= user.name %></h1> -->
    </div>
    <div class="footer">
      <div class="iconsMobile">
        <i class="fa-solid fa-house"></i>
        <i class="fa-regular fa-bell"></i>
        <button type="submit" class="createTimelineMobile" id="createTimelineMobile">
          <i class="fa-solid fa-plus fa-xl"></i>
        </button>
        <i class="fa-regular fa-question"></i>
        <img class="profile-image" src="<%= user.image %>" alt="profile" />
      </div>
    </div>
  </body>
  <script>
    var profileSection = document.getElementById("profileSection");
    var logout = document.getElementById("logout");

    profileSection.addEventListener("click", () => {
      console.log("cl");
      if (logout.style.display == "none") {
        logout.style.display = "initial";
      } else {
        logout.style.display = "none";
      }
    });

    var timelineByYou = document.getElementById("timelineByYou");
    var timelineByYouMobile = document.getElementById("timelineByYouMobile");
    var timelineByYouId = document.getElementById("timelineByYouId");
    var timelineAdded = document.getElementById("timelineAdded");
    var timelineAddedMobile = document.getElementById("timelineAddedMobile");
    var timelineAddedId = document.getElementById("timelineAddedId");

    timelineByYou.addEventListener("click", () => {
      timelineAddedId.style.display = "none";
      timelineByYouId.style.display = "initial";
      timelineByYou.style.background = "#efedff";
      timelineAdded.style.background = "none";
    });

    timelineAdded.addEventListener("click", () => {
      timelineByYouId.style.display = "none";
      timelineAddedId.style.display = "initial";
      timelineAdded.style.background = "#efedff";
      timelineByYou.style.background = "none";
    });

    timelineByYouMobile.addEventListener("click", () => {
      timelineAddedId.style.display = "none";
      timelineByYouId.style.display = "initial";
      timelineByYouMobile.style.background = "#efedff";
      timelineAddedMobile.style.background = "none";
    });

    timelineAddedMobile.addEventListener("click", () => {
      timelineByYouId.style.display = "none";
      timelineAddedId.style.display = "initial";
      timelineAddedMobile.style.background = "#efedff";
      timelineByYouMobile.style.background = "none";
    });

    document.addEventListener("DOMContentLoaded", function () {
      const createTimelineBtn = document.getElementById("createTimeline");
      createTimelineBtn.addEventListener("click", function () {
        const createTimelinePopup = document.createElement("div");
        createTimelinePopup.id = "create-timeline-popup";
        createTimelinePopup.innerHTML = `
        <form id="create-timeline-form" class="create-timeline-form" action="/timeline" method="post">
          <label for="timeline-heading">Timeline Heading:</label>
          <input type="text" id="timeline-heading" name="heading" required>
          <div class="create-timeline-btns">
            <button type="button" id="cancel-create-timeline-btn">Cancel</button>
            <button type="submit">Create Timeline</button>
          </div>
        </form>
      `;
        document.body.appendChild(createTimelinePopup);
        const cancelCreateTimelineBtn = document.getElementById("cancel-create-timeline-btn");
        cancelCreateTimelineBtn.addEventListener("click", function () {
          document.body.removeChild(createTimelinePopup);
        });
      });
    });
    document.addEventListener("DOMContentLoaded", function () {
      const createTimelineBtn = document.getElementById("createTimelineMobile");
      createTimelineBtn.addEventListener("click", function () {
        const createTimelinePopup = document.createElement("div");
        createTimelinePopup.id = "create-timeline-popup";
        createTimelinePopup.innerHTML = `
        <form id="create-timeline-form" class="create-timeline-form" action="/timeline" method="post">
          <label for="timeline-heading">Timeline Heading:</label>
          <input type="text" id="timeline-heading" name="heading" required>
          <div class="create-timeline-btns">
            <button type="button" id="cancel-create-timeline-btn">Cancel</button>
            <button type="submit">Create Timeline</button>
          </div>
        </form>
      `;
        document.body.appendChild(createTimelinePopup);
        const cancelCreateTimelineBtn = document.getElementById("cancel-create-timeline-btn");
        cancelCreateTimelineBtn.addEventListener("click", function () {
          document.body.removeChild(createTimelinePopup);
        });
      });
    });

    // Function to show create timeline form as a pop-up
    // function showCreateTimelinePopup() {
    //   console.log("hello");
    //   const createTimelinePopup = document.createElement("div");
    //   createTimelinePopup.id = "create-timeline-popup";
    //   createTimelinePopup.innerHTML = `
    //     <form id="create-timeline-form" class="create-timeline-form">
    //       <label for="timeline-heading">Timeline Heading:</label>
    //       <input type="text" id="timeline-heading" required>
    //       <div class="create-timeline-btns">
    //         <button type="button" id="cancel-create-timeline-btn">Cancel</button>
    //         <button type="submit">Create Timeline</button>
    //       </div>
    //     </form>
    //   `;
    // }
  </script>
</html>
